name: Clang-Tidy Analysis

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  clang-tidy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install clang-tidy
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-tidy

      - name: Configure project (CMake)
        run: |
          cmake -S . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Build project
        run: |
          cmake --build build -- -j$(nproc)

      - name: Run clang-tidy
        run: |
          clang-tidy $(find . -name "*.cpp") -- -I./include -std=c++20
